<div class="share-dialog">
  <h2>Share this quote</h2>
  <p>{{ quote.text }} - {{ quote.author }}</p>
  <div class="share-buttons">
    <button shareButton="whatsapp" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      WhatsApp
    </button>
    <button shareButton="telegram" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      Telegram
    </button>
    <button shareButton="viber" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      Viber
    </button>
    <button shareButton="sms" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      SMS
    </button>
    <button shareButton="email" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      Email
    </button>
    <button shareButton="pinterest" [title]="quote.text" [description]="quote.text + ' - ' + quote.author" class="btn-icon">
      Pinterest
    </button>
  </div>
</div>
